body p {
  font-family: times;
  font-stretch: condensed;
}

header img {
  float: left;
  margin-right: 15px;
}

first-letter {
  font-size: 15px;
}
article img {
  float: left;
  margin-right: 15px;
}

section p {
  margin-left: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
}

article p {
  margin-bottom: 25px;
}
